Options All -Indexes

RewriteEngine On
RewriteBase /elective/

RewriteRule ^adminlogin/?$ login.php?action=login&type=admin [PT,L]
RewriteRule ^api/?$ api.php [PT,L]
RewriteRule ^elective/?$ elective.php [PT,L]
RewriteRule ^login/?$ login.php?action=login [PT,L]
RewriteRule ^logout/?$ login.php?action=logout [PT,L]
RewriteRule ^manageadmin/?$ manage_admin.php [PT,L]
RewriteRule ^manageclass/?$ manage_class.php [PT,L]
RewriteRule ^managedepartment/?$ manage_department.php [PT,L]
RewriteRule ^manageelective/?$ manage_elective.php [PT,L]
RewriteRule ^managestudent/?$ manage_student.php [PT,L]
